[Unit]
Description=Setup USERS and /VAR at boot
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/firstboot-setup
ImportCredential=home.create.*

[Install]
WantedBy=multi-user.target
